.nav-wrapper {
    background-color: slategray;
}

.username {
    text-transform: capitalize;
    text-align: center;
}

.align-left {
    text-align: left;
}

.balance {
    text-align: center;
}

.headers {
    font-weight: bold;
}

.index-banner {
    padding: 50px;
    margin-top: 2em;
    text-align: center;
    color: #FFF;
    background-image: url("/static/img/braavos.jpg");
}

.details {
    width: 35%;
    display: inline;
}

.transactions {
    width: 35%;
    display: inline;
    float: right;
    clear: both;
}

.brand-logo {
    margin-left: 20px;
}

select {
    /*because materialize thinks display should be none for select elements*/
    display: inline;
}

.capitalize {
    text-transform: capitalize;
}

small {
    font-size: medium;
}

.page-nav {
    text-align: center;
    padding-top: 2em;
}
